{% extends "layout.html" %}
{% block body %}

    <!-- Page Header-->
        {% set background_url = url_for('static', filename='assets/img/home-bg.jpg') %}
        <header class="masthead" style="background-image: url('{{ background_url }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage your Post and Saves</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
              <!-- <h1>Basic actions</h1> -->
              <p><a href="/edit/0"><button class="btn btn-primary text-uppercase"> Add a new Post </button></a>
              <a href="/logout"><button class="btn btn-primary text-uppercase"> Logout </button></a></p>
              <hr>

                <h1>Uplode a file</h1> 
                <form action="/uploder" method="post" enctype="multipart/form-data">
                  <input type="file" name="temp_filename_from_html">
                  <input type="submit" class="btn btn-primary text-uppercase">
                </form>
                <div style="height: 20px;"></div>
                <hr>
                <h1>Edit Posts</h1>   
                    <table class="table">
                        <thead>
                          <tr>
                            <th>Sno.</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Edit</th>
                            <th>Delete</th>
                          </tr>
                        </thead>
                        <tbody>

                        {% for post in post %}
                          <tr>
                            <td>{{ post.sno }}</td>
                            <td>{{ post.title }}</td>
                            <td>{{ post.date }}</td>
                            <th><a href="/edit/{{post.sno}}"> <button class="btn btn-primary text-uppercase">Edit</button> </a></th>
                            <th><a href="/delete/{{post.sno}}"> <button class="btn btn-primary text-uppercase">Delete</button> </a></th>
                          </tr>
                        {% endfor %}

                        </tbody>
                      </table>
                                                              
                
            </div>
        </div>
{% endblock %}