{% extends "layout.html" %}
{% block body %}

    <!-- Page Header-->
        {% set background_url = url_for('static', filename='assets/img/home-bg.jpg') %}
        <header class="masthead" style="background-image: url('{{ background_url }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin Panel</h1>
                            <span class="subheading">Manage your Post and Saves</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
              <!-- <h1>Basic actions</h1> -->
              <hr>
              <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Logged Out succesfully</h1>
                            <a href="/dashboard"><button class="btn btn-primary text-uppercase"> Login </button></a></p>
                        </div>
                    </div>
                </div>
            </div>

                 
                
                <div style="height: 20px;"></div>
                <hr>
                
                    
                                                              
                
            </div>
        </div>
{% endblock %}